---
import '@fontsource/momo-trust-display';
import '@fontsource/momo-trust-sans';

import '../styles/global.css';

import { ThemeProvider } from '../components/theme/ThemeProvider.tsx';

interface Props {
	lang?: string;
	title?: string;
	description?: string;
}

const {
	lang = 'it',
	title,
	description = 'Full-Stack Developer & Dev Tooling Specialist.',
} = Astro.props;

const canonicalURL = Astro.site
	? new URL(Astro.url.pathname, Astro.site)
	: undefined;
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />

		{canonicalURL && <link rel="canonical" href={canonicalURL} />}

		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
		<link
			rel="icon"
			type="image/png"
			href="/android-chrome-192x192.png"
			sizes="192x192"
		/>
		<link
			rel="icon"
			type="image/png"
			href="/android-chrome-512x512.png"
			sizes="512x512"
		/>
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="generator" content={Astro.generator} />
		<title>
			{title ? `${title} | Davide Di Criscito` : 'Davide Di Criscito'}
		</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<ThemeProvider client:load>
			<slot />
		</ThemeProvider>
	</body>
</html>
